server:
  port: 8086

spring:
  application:
    name: notification-service
  datasource:
    username: simakov
    url: jdbc:postgresql://localhost:5432/notification
    password: 123456
  flyway:
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

rabbitmq:
  exchanges:
    internal: internal.exchange
  queue:
    notification: ${rabbitmq.exchanges.internal}.queue
  routing-keys:
    internal-notification: internal.notification.rk